<html>
  <head>
    <meta charset="utf-8">
    <title>Reife -- Record your life.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://reife.u.qiniudn.com/cssflat-ui.css">
    <style type="text/css">
      .container{
        background-color: #1abc9c;
        min-height: 100%;
        overflow: hidden;
        padding: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Reife</h1>
      <h2>Record your life.</h2>
      <p>The App coming soon!</p>
    </div>
  </body>
</html>